# ─── Configurações Eupago ────────────────────────────────────────
# Chave de API (Backoffice Eupago -> Conta -> API)
EUPAGO_API_KEY=

# ─── Configurações SMTP ──────────────────────────────────────────
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
